{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <article>
        <h1>{{ post.title }}</h1>
        <p class="text-muted">Опубликовано: {{ post.published_date|date:"d E Y H:i" }}</p>
        <hr>
        <div class="post-content">
            {{ post.content|linebreaks }}  <!-- linebreaks преобразует переносы строк в <br> и <p> -->
        </div>
        <a href="{% url 'homepage' %}" class="btn btn-secondary mt-4">← Назад к списку</a>
    </article>
{% endblock %}